<h1>About</h1>

Random passphrase generation using Diceware and the English Wordlist.<br>
<br>
For more information on methodology and word dictionaries used, see article by A G Reinhold here:<br>
<br>
    - <a href="http://world.std.com/~reinhold/diceware.html">http://world.std.com/~reinhold/diceware.html</a> <br>
<br>
This is also the first website made with Django following tutorial by <a href="https://www.udemy.com/user/nicholaswalter2/">Nick Walter</a> on Udemy.
<br>
<br>
<a href="{% url 'home' %}">Home</a>


